################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConsoleCSF/bin
/.vs/ConsoleCSF/v16/Server/sqlite3
/.vs/ConsoleCSF/DesignTimeBuild
/.vs/ConsoleCSF/v16/.suo
/ConsoleCSF/obj
/ConsoleCSF/Properties
