################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConsoleCSF/bin/Debug/netcoreapp3.0
/.vs/ConsoleCSF/v16/Server/sqlite3
