<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ipBD" value="10.113.98.32" />
    <add key="usuarioBD" value="platrel" />
    <add key="senhaBD" value="platrel" />
    <add key="inicialBD" value="credito" />
    <add key="urlPostAutenticacao" value="http://10.113.98.16/Carrefour.Servico.Autenticacao/Autenticacao.svc?wsdl=" />
    <add key="ipHostAutenticacaoSoap" value="10.113.98.16" />
    <add key="soapActionAutenticacao" value="http://tempuri.org/IAutenticacao/AutenticarConsumidor" />
    <add key="enviarPropostaPostUrl" value="http://10.113.98.16/Csf.PR.Svc.PropostaCartao/GerenciadorProposta.svc" />
    <add key="ipHostEmviarPropostaSoap" value="10.113.98.16" />
    <add key="soapActionEnviarProposta" value="http://tempuri.org/IGerenciadorProposta/SolucionarProblemasProposta" />
    <add key="dataInicioConsulta" value="2019-10-01" />
    <add key="chaveSolicitacao" value="9876543210" />
    <add key="codigoHierarquia" value="2" />
  </appSettings>
</configuration>